<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.solution.alnahar.eatit">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <application


        android:allowBackup="true"
        android:icon="@drawable/logo_food_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_food_app"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />



        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />

        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity" />




        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".subCategory.FoodListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".foodDetail.FoodDetailsActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".cart.CartActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoNotificationBar" />

        <activity android:name=".orderStatus.OrderStatusActivity" />




        <service android:name=".service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider621295924872153"

            android:exported="true" />

    </application>

</manifest>